@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    border-radius: 5px;
}
p{
    padding: 15px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border-color: rgb(195, 185, 185);
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
.title p{
    font-size: 22px;
    color: #1f194c;
}
input{
    margin-left: 80px;
    width: 200px;
    text-align: center;
}
.container button {
    margin-left: 145px;
    padding: 5px;
    margin-top: 7px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(176, 23, 176);
    cursor: pointer;
    color: aliceblue;
    
}
.container button:hover{
    transform: scale(1);
    transition: 0.3s;
}
.result{
    position: relative;
    height: 100px;
}
.result h3{
    font-size: 18px;
    color: #1f194c;
    margin-left: 153px;
}
.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: black;

}
